HTML, BODY{
    height: 100%;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #444;
    font-size: 11px;
    overflow: hidden;
}

#images-list{
    height: 70px;
    position: fixed;
    z-index: 9;
    width: 100%;
    overflow: visible;
    clear: both;
    white-space: nowrap !IMPORTANT;
}
.thumb{
    width: 100px;
    height: 70px;
    position: relative;
    margin-left: 3px;
    z-index: 3;
    transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -ms-transition: all linear 300ms;
}
.thumb:nth-child(2n-1):hover{
    /*outline: solid 1px white;*/
    z-index: 4;
    transform: scale(1.2) rotate(2deg);
    -webkit-transform: scale(1.2) rotate(2deg);
    -moz-transform: scale(1.2) rotate(2deg);
    -ms-transform: scale(1.2) rotate(2deg);
}
.thumb:nth-child(2n):hover{
    /*outline: solid 1px white;*/
    z-index: 4;
    transform: scale(1.2) rotate(-2deg);
    -webkit-transform: scale(1.2) rotate(-2deg);
    -moz-transform: scale(1.2) rotate(-2deg);
    -ms-transform: scale(1.2) rotate(-2deg);
}

#container{
    position: fixed;
    top: 80px;
    height: auto;
    display: block;
}

#hsl-sliders{
    position: fixed;
    display: block;
    width: 240px;
    clear: left;
    height: 100%;
    border-right: solid 1px white;
    color: white;
    z-index: 2;
}
#edited-image{
    position: relative;
    overflow: auto;
    left: 250px;
    width: 100%;
    height: 100%;
    background-color: #555;
    z-index: 1;
}
.fb_iframe_widget{
    margin-left: 3px;
    top: -5px;
}
.github-link img{
    width: 24px;
    border-radius: 2px;
    border: solid 1px #d0d0d0;
    
}
canvas{
    position: relative;
    z-index: 2;
}
canvas.withBG{
    background-image: url(../images/bg.png) !IMPORTANT;
}

#hue{
    background-image: url(../images/colors.png) !IMPORTANT;
    background-size: 100% 100%;
}
#loadingEl{
    position: absolute;
    z-index: 999;
    left: 265px;
    top: 85px;
    width: 18px;
    height: 18px;
    border: solid 1px black;
    border-radius: 50%;
    display: none;
}
#loadingEl, .loading{
    background-image: url(../images/loading.gif) !IMPORTANT;
    background-repeat: no-repeat;
}
#currentPixel{
    width: 20px;
    height: 20px;
    border: solid 1px white;
    display: inline-block;
    float: left;
    margin-right: 4px;
}

#addImg{
    width: 100px;
    height: 70px;
    border: solid 1px white;
    float: left;
    background: #000;
    margin-left: 3px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
}
#newImage-ipt{
    position: absolute;
    top: -40px;
    height: 200px;
    visibility: hidden;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
}

.pickedColorContainer{
    margin: auto;
    width: 200px;
}
#pickedColor{
    width: 140px;
    text-align: center;
}

#thumb-precision{
    float: left;
    height: 202px;
}
#selectedPx{
    /*border: solid 1px white;*/
    width: 202px;
    height: 202px;
    margin: 6px auto 6px auto;
}
#selectedPx div{
    width: 40px;
    height: 40px;
    outline: solid 1px white;
    float: left;
}
#selectedPx div:hover{
    outline: solid 1px red;
}

#youtubeVideo{
    display: none;
    margin-top: 10px;
}

@media screen and (min-height: 630px){
    #youtubeVideo{
        display: block;
    }
}